<h1>Editing movielist</h1>

<%= render "form", movielist: @movielist %>

<br>

<div>
  <%= link_to "Show this movielist", @movielist %> |
  <%= link_to "Back to movielists", movielists_path %>
</div>
